$iconos:(
  tapp: #A0DDAB,
  freeSoul: #F19CE4,
  

);

@each $clave, $valor in $iconos {

    i .fab fa-instagram {
        color: $valor;
    }
    
} 

a {
    text-decoration: none;
    color:  white;

}



//mixins

@mixin medidasLogos($anchura, $margen) {
    width: $anchura;
    margin-left: $margen;
    
}
.logoInicio{
    @include medidasLogos (50%, 30%)
}
