*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*body estilos generales*/
body{
    font-family: 'Playfair Display', serif;
}


hr{
    border: solid px rgb(25, 209, 18);
}

//banners import class
/*Banners styles*/
@import "banner";

/*Animaciones import*/
@import"animaciones";

//Sombras import
@import"sombras";

//iconos con mapas
@import"iconos";

//variables
$verde: rgba(255, 255, 255, 0.5);

.navbar-style{
    background-color: $verde !important;

}

.contenedor_primario_inicio{
    padding: 10%;
    
    hr{
        border: 1px solid green;
    }
}


.bt_ir_compra {
    padding: 5%;

    a {
        width: 200px;
    }
}

.logoIncio{
    width: 50%;
    margin-left: 30%;
}

.imgSeccion3{
    margin-top: 10px;
    padding: 20%;
    white-space: 10%;
}

.contFooter{
    background-color: rgba(53, 52, 52, 0.7);
   
    margin-top: 100px;

}



